# =================================================================
# KONFIGURASI SUPABASE (DATABASE & AUTH)
# =================================================================
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# =================================================================
# KONFIGURASI GOOGLE GEMINI API (AI)
# =================================================================
VITE_GEMINI_API_KEY=
VITE_GEMINI_MODEL=
